doctype
html
    head
        meta(charset="utf-8")
        link(href="../../bower_components/bootstrap/dist/css/bootstrap.min.css")
        style
            include things/templates/html/common/styles/commonStyle.css
            include things/templates/html/styles/template.css
    body
        div.container
            div.top= appName
            div.main-wrap
                div.side
                    - for(var x = 0; x < templates.length; x++)
                        div
                            a.side-item(href=templates[x].href, target="show")
                                span.app= templates[x].appName
                                span.module= templates[x].moduleName
                                span.app= templates[x].name
                div.content
                    iframe(src=defaults.href, name="show", frameborder="0", width="100%", height="100%" )




